<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
</ngx-loading>
<ion-header>

  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ข้อมูลปริมาณน้ำรายวัน</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar color="secondary">
    <ion-searchbar animated="true" placeholder="บ้านค่ายชัยภูมิ"></ion-searchbar>
  </ion-toolbar> -->
</ion-header>
<div class="ng-autocomplete">
  <ng-autocomplete [data]="locationOptions" [searchKeyword]="keyword" placeholder="เลือกจุดตรวจวัด"
    (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
  </ng-autocomplete>

  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.title"></a>
  </ng-template>

  <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>
</div>
<ion-content>



  <!-- <ion-item detail="true">
    <ion-label [routerLink]="['/sitelevel/01']">
      <h3 style="font-size:18px ;">จุดที่ 1 บ่อพักน้ำดิบ </h3>
      <p>บ่อพักน้ำดิบ การประปาบ้านค่าย จังหวัดชัยภูมิ</p>
    </ion-label>
  </ion-item>
  <ion-item detail="true">
    <ion-label [routerLink]="['/sitelevel/02']">
      <h3 style="font-size:18px ;">จุดที่ 2 โรงสูบน้ำดิบ </h3>
      <p>โรงสูบน้ำดิบ การประปาบ้านค่าย จังหวัดชัยภูมิ</p>
    </ion-label>
  </ion-item>
  <ion-item detail="true">
    <ion-label [routerLink]="['/sitelevel/03']">
      <h3 style="font-size:18px ;">จุดที่ 3 บ่อกรอง </h3>
      <p>บ่อกรอง การประปาบ้านค่าย จังหวัดชัยภูมิ</p>
    </ion-label>
  </ion-item> -->

  <div style="    height: 550px;
  background-color: white;
  margin: 40px;
  padding: 3px 40px 3px 40px;
  border-radius: 12px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;">

    <!-- <ion-card> -->
    <ion-card-header>
      <ion-card-title>{{title}}</ion-card-title>
      <ion-card-subtitle>{{description}}</ion-card-subtitle>
    </ion-card-header>
    <!-- <div>
      <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"
        (chartInstance)="getChartInstance($event)"></canvasjs-chart>
    </div> -->
    <div>
      <div style="height: 370px; width: 100%;" id="chart_01" *ngIf="show01"></div>
      <div style="height: 370px; width: 100%;" id="chart_02" *ngIf="show02"></div>
      <div style="height: 370px; width: 100%;" id="chart_03" *ngIf="show03"></div>
    </div>
    <!-- </ion-card> -->
  </div>

  <div style="
  background-color: white;
  margin: 40px 40px 120px 40px;
  padding: 3px 40px 3px 40px;
  border-radius: 12px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  ">

    <ion-card-header>
      <!-- <ion-card-title style="font-size: 20px;">{{title}}</ion-card-title> -->
      <ion-card-subtitle>ข้อมูลระดับน้ำ {{title}} การประปาบ้านค่าย จังหวัดชัยภูมิ</ion-card-subtitle>
    </ion-card-header>

    <div style=" display: flex;
    margin: 20px 120px 0px 120px;
    padding: 3px 40px 3px 40px;
    border-radius: 12px;
    justify-content: space-between;
    font-size: 14pt;
    color: #757575;
">
      <p>ตรวจวัดเมื่อ</p>
      <p>พื้นที่</p>
      <p>ระดับน้ำ</p>
    </div>

    <div *ngFor="let item of showall" style="
    display: flex;
    background-color: #f5f6fa;
    margin: 10px 120px 20px 120px;
    padding: 3px 40px 3px 40px;
    border-radius: 12px;
    justify-content: space-between;
    ">
      <!-- <span> -->
      <!-- <h3 style="font-size: 18px;" (click)="showdetail(item)">ข้อมูลระดับน้ำ "{{title}}"</h3> -->
      <!-- <p><ion-badge color="secondary">{{item.datetime}}</ion-badge></p> -->
      <p style="padding-top: 24px;">{{item.datetime}}</p>
      <p style="padding-top: 24px;">การประปาบ้านค่าย จังหวัดชัยภูมิ</p>
      <!-- </span> -->
      <div style="display: flex;">
        <span style="padding-top: 21px; padding-right: 14px;"><img alt="" [src]=waterDrop /></span>
        <p style="font-size: 24px; padding-top: 18px;">{{item.percent| number : '1.2-2'}}% </p>
      </div>

    </div>
  </div>


  <!-- <ion-card> -->
  <!--
    <img *ngIf="image" alt="" [src]=image/>
    -->
  <ion-card-header>
    <!-- <ion-card-title style="font-size: 20px;">{{title}}</ion-card-title> -->
    <!-- <ion-card-subtitle>{{title}} การประปาบ้านค่าย จังหวัดชัยภูมิ</ion-card-subtitle> -->
  </ion-card-header>

  <ion-card-content>
    <!-- <ion-list>
      <ion-item style="background-color: blue;" *ngFor="let item of showall">
        <ion-thumbnail slot="start" (click)="showdetail(item)" class="hidesm">
          <img *ngIf="item.image" alt="" src="http://202.129.205.39:3000{{item.image}}" />
        </ion-thumbnail>
        <ion-label>
          <h3 style="font-size: 18px;" (click)="showdetail(item)">ข้อมูลระดับน้ำ "{{title}}"</h3>
          <p>ตรวจวัดเมื่อ <ion-badge color="secondary">{{item.datetime}}</ion-badge></p>
          <p>ณ พื้นที่การประปาบ้านค่าย จังหวัดชัยภูมิ</p>
        </ion-label>
        <ion-label slot="end">
          <ion-badge color="success" (click)="showdetail(item)">
            <h3 style="font-size: 18px;">{{item.percent| number : '1.2-2'}}% </h3>
          </ion-badge>
        </ion-label>
      </ion-item>
    </ion-list> -->
  </ion-card-content>


</ion-content>