<!-- <ion-split-pane contentId="main-content"> -->
<!-- <ion-menu contentId="main-content" type="overlay">
      <ion-img src="./assets/icon/logo.png"></ion-img>
      <ion-content>
        <ion-list id="inbox-list">
          --
          -- <ion-list-header>PWA: Water Level </ion-list-header>
          <ion-note>Video analytics for water level </ion-note> --
          --
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label style="font-family: 'Kanit', sans-serif;">{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        -- <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>
          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list>
        --
      </ion-content>
    </ion-menu> -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="" style="font-size:26pt;">Stream POC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-right">
      <li class="nav-item active" *ngFor="let p of appPages; let i = index">
        <a class="nav-link" href="poc" [routerLink]="[p.url]">{{ p.title }} </a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="/level" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">ปริมาณน้ำรายวัน</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="poc" [routerLink]="[o.url]" *ngFor="let o of subMenu; let i = index">
            {{o.title }}</a>
        </div>
      </li>

      <!-- <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="/#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell"
            viewBox="0 0 16 16">
            <path
              d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
          </svg></a>
        <div class="dropdown-menu dropleft" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="poc" [routerLink]="[o.url]" *ngFor="let o of subMenu; let i = index">
            {{o.title }}</a>
        </div>
      </li> -->
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell"
            viewBox="0 0 16 16">
            <path
              d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
          </svg>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
          <a class="dropdown-item item-alert" href="#" *ngFor="let o of alerts;"
            style="border-bottom: 1px solid rgba(171, 171, 171, 0.509);">
            <!-- <b>แจ้งเตือนการตรวจจับบุคคล</b> -->
            <!-- <img alt="" [src]="'http://202.129.205.39:3000/detections/'+item.image" style="width: 400px;" /> -->
            <p>พื้นที่การประปาบ้านค่าย จังหวัดชัยภูมิ</p>
            <ion-badge color="warning">{{datetime}}</ion-badge>
          </a>
        </div>
      </li>

    </ul>
  </div>
</nav>
<ion-router-outlet id="main-content"></ion-router-outlet>