<ion-header>
  <ion-toolbar>
    <ion-title>รายละเอียดจุดตรวจวัด "{{marker?.title}}"</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()"> ปิด (x)</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="show">
  <img alt="" [src]=showimage /> 
  <ion-item>
    <ion-icon name="home" slot=""start></ion-icon>
    &nbsp; {{marker?.title}}
  </ion-item>
  <ion-item>
    <ion-icon name="location" slot=""start></ion-icon>
    &nbsp; {{marker?.latitude}}, {{marker?.longitude}}
  </ion-item>
  <ion-item>
    <ion-icon name="warning" slot=""start></ion-icon>
    &nbsp; ระดับน้ำ {{level}}%
  </ion-item>
  <ion-item>
    <ion-icon name="calendar-outline"></ion-icon>
    &nbsp; {{showdate}}
  </ion-item>
</ion-content>
